NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TEST_ACCESS_TOKEN=
SUPABASE_TEST_EMAIL=forwarder-test@lbid.local
SUPABASE_TEST_PASSWORD=
SUPABASE_TEST_USER_ID=
SUPABASE_TEST_SR_ID=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
ADMIN_API_SECRET=
RESEND_API_KEY=
NEXT_PUBLIC_APP_URL=http://127.0.0.1:5299
